doctype
html(lang='en')
  head
    meta(charset='utf-8')
    link(rel="stylesheet", href="styles/main.css")
    script(src="/js/questions.js")
    script(src="/js/index.js")
    title Тест
body
  .container
    #quiz
  //- mixin quiz-item
  //-   div.quiz-item
  //-     div.questions 2+2?
  //-     ul.answers
  //-       li.answer
  //-         span.answer-check.checked
  //-           span.answer-check-inner
  //-         span.answer-text 1
  //-       li.answer
  //-         span.answer-check
  //-           span.answer-check-inner
  //-         span.answer-text 2 
  //-       li.answer
  //-         span.answer-check
  //-           span.answer-check-inner
  //-         span.answer-text 3
  //-       li.answer
  //-         span.answer-check
  //-           span.answer-check-inner
  //-         span.answer-text 4
  //-   div.btn.btn-answer
  //-     span Відповідь
  //- .container
  //-   div.quiz
  //-     +quiz-item
  //-     +quiz-item
