doctype
html(lang='en')
  head
    meta(charset='utf-8')
    link(rel="stylesheet", href="styles/main.css")
    script(src="js/vendor.js")
    script(src="js/questions.js")
    script(src="js/index.js")
    title Тест_Математика
body
  .container
    #quiz
  #answer
