doctype
html(lang='en')
  head
    meta(charset='utf-8')
    link(rel="stylesheet", href="styles/main.css")
    script(src="js/vendor.js")
    script(src="js/questions_read.js")
    script(src="js/index.js")
    title Тест_Читання
body
  .container
    #text
    #quiz
  #answer
